#large {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

#abs1, #abs2{
    border: 1px solid red;
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    z-index: 0;
}

#abs2 {
    top: 50px;
    left: 50px;
    background-color: aqua;
    z-index: -2;
}

#overflow {
    display: inline-block;
    height: 100px;
    border: 1px solid red;
    overflow: scroll;
}